@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-800: hsl(229, 23%, 23%);
  --clr-500: hsl(227, 10%, 46%);
  --clr-400: hsl(0, 0%, 59%);
  --clr-200: hsl(185, 75%, 39%);

  --fw-bold: 700;
  --fw-reg: 400;
}

/* CSS Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--clr-200);
  background-image: url("imgs/bg-pattern-top.svg");
  background-repeat: repeat-x;
  background-position-x: -80%;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
================
====MAIN CSS====
================
*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.card__top-half {
  position: relative;
}

.card__bottom-half {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 1em;
}

.main-info {
  margin-top: 4em;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  text-align: center;

  margin-top: 1em;
  padding-top: 1em;

  border-top: 0.5px solid var(--clr-400);
}

/* 
================
===HELPER CSS===
================
*/

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.pfp {
  align-self: center;
  position: absolute;
  z-index: 1;

  border: 3px solid white;
  border-radius: 100px;
  overflow: hidden;
  transform: translateY(-50%);
}

.light-txt {
  font-size: 0.938rem;
  color: var(--clr-400);
}

.lighter-txt {
  font-size: 1.563rem;
  color: var(--clr-400);
}
